<h1>
    <%= @inventory.name %>
</h1>
<%= button_to "Add food", new_food_path, method: :get %>
<hr>

<table>
    <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    <% @inventory.inventory_food.includes(:food).each do |invfoo| %>
        <tr>
            <td> <%= invfoo.food.name %> </td>
            <td> <%= invfoo.quantity %> </td>
            <td>
                <%= button_to "Remove", food_path(invfoo.food.id), method: :delete %>
            </td>
        </tr>
    <% end %>
</table>
