<section class="shopping-list-section">
<h1 class="section-title"> Shopping List </h1>

<div class="row">
<div> 
    <p>Amount of foods that you have to buy: <span class="secondary"><%= @final.length %></span></p>
    <p>Total value of food needed: <span class="secondary"><%= @total %></span> </p>
</div>

<div> 
    <p>Recipe: <span class="secondary"><%= @recipe.name%></span></p>
    <p>Inventory: <span class="secondary"><%=  @inventory.name%></span> </p>
</div>

</div>
<table>
    <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    <% @final.each do |food| %>
        <tr>
            <td> <%= food[:name] %> </td>
            <td> <%= food[:quantity] %> </td>
            <td> <%= food[:price] %> </td>
        </tr>
    <% end %>
</table>

</section>


