<section class="public-recipes-section">  
  <h1 class="section-title">Public Recipes</h1>
  <div class="recipes-container">
    <ul class="recipes-list"> 
      <% @public_recipes.each do |recipe| %>
        <li>
        <div class="recipe-card">

          <div class="row">
          <div class="recipe-info">
          <h2> <%= link_to recipe.name, recipe_path(recipe.id) %> </h2> 
          <h3> By <%= recipe.user.name %>
        </div>

        <div class="food-info">
          <p>Total food items: <span class="secondary"><%= recipe.foods.length %> </span></p>
          <p>Total price $: <span class="secondary"><%= recipe.total_price%> </span></p>
        </div>

        <% if can? :destroy, recipe %>
        <%= button_to "Delete Recipe", recipe_path(recipe.id), method: :delete, data: {turbo: false}%>
      <% end %>
          </div>

        
           
        
        </div>
         
        </li>
      <% end %>
    </ul>
  </div>
</section>