<section>
  <h1>Add a new recipe:</h1>

  <%= form_with model: @recipe, url: recipes_path do |form| %>    
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
    <div>
      <%= form.radio_button :public, "true" %>
      <%= form.label :public_field, "Public" %>
      <%= form.radio_button :public, "false" %>
      <%= form.label :private_field, "Private" %>
    </div>
    <div>
      <%= form.label :preparation_time %>
      <%= form.number_field :preparation_time %>
    </div>
    <div>
      <%= form.label :cooking_time %>
      <%= form.number_field :cooking_time %>
    </div>
    <%= form.submit %>
  <% end %>
</section>