<nav class='navigation'>
  <div class='menu-toggle'>
    <span class="material-symbols-outlined">
      menu
    </span>
  </div>
  <ul class='nav-list mobile-nav'>
    <li class='list-item'>
      <%= link_to 'Foods', foods_path %>
    </li>
    <li class='list-item'>
      <%= link_to 'Inventories', inventories_path %>
    </li>
    <li class='list-item'>
      <%= link_to 'Recipes', recipes_path %>
    </li>
    <li class='list-item'>
      <%= link_to 'Public_recipes', public_recipes_path %>
    </li>
    <li class='list-item'>
      <%= link_to 'Shopping_list', shopping_list_index_path %>
    </li>
  </ul>
</nav>